 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

 body {
     background-color: #eae7e7;
 }

 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 .icons {
     color: #bdd543;
     font-size: 25px;
 }

 .form-subida {
     background: #fff;
     border-radius: 5px;
     box-shadow: 0 0 15px #000;
 }


 .btn-crea {
     border: none;

 }

 .btn-crea:hover {
     background: #bdd543;
     font-weight: bold;

 }

 .tables {
     background-color: #fff;
     border-radius: 10px;
     padding: 20px;
     margin: 20px;
     height: 480px;
 }

 .titleTable {
     color: #019de0;
 }

 .titleArchv {
     color: #019de0;
     text-align: center;
     font-size: 28px;
     font-weight: bold;
     padding: 20px 30px;
     border-bottom: 1px solid #ccc;
 }

 .sticky {
     position: -webkit-sticky;
     position: sticky;
     top: 0;
     z-index: 100;
 }

 .table-oc {

 }